@import url("../../index.css");

.main-container {
  width: 100%;
  height: 100vh;
	display: flex;
}

/* *Nav styles* */

.nav-sup {
	width: 100%;
	height: fit-content;
	color: var(--lightTitles);
	/* display: grid;
	grid-template-columns: repeat(3, 1fr); */
	display: flex;
	align-items: center;
	padding: 8px 32px;
  background-color: var(--mainColor);
}

.nav-sup .logo {
	margin: 6px;
	font-size: 22px;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 50%;
}
.nav-sup .icons {
	width: 50%;
	display: flex;
	justify-content: end;
	gap: 8px;
}

.nav-sup .icons .nav-item i{
  font-size: 32px;
  color: var(--lightTitles);
  padding: 6px;
} 

.nav-sup .icons .nav-item .icon-person {
  font-size: 36px;
  padding: 4px;
}

.nav-sup .icons .nav-item i:hover {
  background-color: var(--btn-home-hover);
  border-radius: 12px;
}

/* Nav lateral styles */

.dashContent {
	background-color: var(--mainColor);
	width: min-content;
}

.icon-container {
	margin-right: 14px;
	background-color: var(--btn-hover-light-blue-cake);
	padding: 6px 10px;
	border-radius: 10px;
	font-size: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-container1 {
	margin-right: 8px;
	padding: 2px 4px;
	border-radius: 10px;
	font-size: 28px;
}

.icon-container i {
  font-size: 26px;
}

.style-panel {
	display: flex;
  height: 100%;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
  padding: 28px 10px;

}

.style-panel button {
	display: flex;
	align-items: center;
}

.wrap-sup {
	margin-top: 2px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.wrap-btns {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.btn-mostrarmenos {
	cursor: pointer;
	border-radius: 14px;
	border: none;
	background: transparent;
	color: var(--extraLight-color);
	font-size: 18px;
	font-weight: bold;
	padding: 0px 10px;
}

.btn-pedidos,
.btn-ventas,
.btn-usuario,
.btn-portafolio {
  width: 244px;
  padding: 6px 8px;
	border-radius: 16px;
	border: none;
	background: var(--mainColor);
	color: var(--lightTitles);
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.btn-cerrarsesion {
	cursor: pointer;
	border-radius: 16px;
	border: none;
	background: var(--mainColor);
	color: var(--lightTitles);
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
  padding-left: 6px;
}

.rol-text {
	color: var(--lightTitles);
	font-size: 22px;
	font-weight: bold;
  text-align: center;
}

.rol-text-name {
  color: var(--lightTitles);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.btn-pedidos:hover,
.btn-ventas:hover,
.btn-usuario:hover,
.btn-portafolio:hover,
.btn-cerrarsesion:hover,
.btn-mostrarmenos:hover {
	background-color: var(--btn-dark-green);
	color: var(--lightTitles);
}