@import url("../../index.css");

.main-container {
	width: 100%;
	height: 100vh;
	display: flex;
}

/* *Nav styles* */

.nav-sup {
	width: 100%;
	height: fit-content;
	color: var(--lightTitles);
	/* display: grid;
	grid-template-columns: repeat(3, 1fr); */
	display: flex;
	align-items: center;
	padding: 8px 32px;
	background-color: var(--mainColor);
}

.nav-sup .logo {
	margin: 6px;
	font-size: 22px;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 86%;
}
.nav-sup .icons {
	width: 50%;
	display: flex;
	justify-content: end;
	gap: 8px;
}

.nav-sup .icons .nav-item i {
	font-size: 32px;
	color: var(--lightTitles);
	padding: 6px;
	transition: background-color 0.3s ease;
}

.nav-sup .icons .nav-item .icon-person {
	font-size: 36px;
	padding: 4px;
}

.nav-sup .icons .nav-item i:hover {
	background-color: var(--btn-home-hover);
	border-radius: 12px;
}

/* nav & component */
.contanier-nav-component {
	width: 100%;
}


/* Nav lateral styles */

.dashContent {
	background-color: var(--mainColor);
	width: min-content;
}

.icon-container {
	margin-right: 14px;
	background-color: var(--btn-hover-light-blue-cake);
	padding: 6px 10px;
	border-radius: 10px;
	font-size: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
}
.icon-container1 {
	margin-right: 8px;
	padding: 2px 4px;
	border-radius: 10px;
	font-size: 28px;
	transition: background-color 0.3s ease;
}

.icon-container i {
	font-size: 26px;
}

.style-panel {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
	padding: 28px 10px;
}

.style-panel button {
	display: flex;
	align-items: center;
}

.wrap-sup {
	margin-top: 4px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.wrap-btns {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.btn-mostrarmenos {
	cursor: pointer;
	border-radius: 14px;
	border: none;
	background: transparent;
	color: var(--extraLight-color);
	font-size: 18px;
	font-weight: bold;
	padding: 0px 10px;
	transition: background-color 0.3s ease;
}

.btn-pedidos,
.btn-ventas,
.btn-usuario,
.btn-portafolio {
	width: 244px;
	padding: 6px 8px;
	border-radius: 16px;
	border: none;
	background: var(--mainColor);
	color: var(--lightTitles);
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-pedidos {
	margin-top: 22px;
}

.rol-text {
	color: var(--lightTitles);
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.user-dashboard {
	margin-bottom: 26px;
}

.rol-text-name {
	color: var(--lightTitles);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

.btn-pedidos:hover,
.btn-ventas:hover,
.btn-usuario:hover,
.btn-portafolio:hover,
.btn-mostrarmenos:hover {
	background-color: var(--btn-dark-green);
	color: var(--lightTitles);
}

/* * RESPONSIVE * */

@media (width < 1024px) {
	.btn-pedidos,
	.btn-ventas,
	.btn-usuario,
	.btn-portafolio,
	.btn-mostrarmenos {
		width: 44px;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.btn-pedidos .btn-text,
	.btn-ventas .btn-text,
	.btn-usuario .btn-text,
	.btn-portafolio .btn-text,
	.btn-mostrarmenos .btn-text {
		display: none;
	}

	.title,
	.rol-text,
	.rol-text-name {
		display: none;
	}

	.icon-container {
		margin-right: 0;
		margin: 0px;
	}

	.icon-container:hover {
		background-color: var(--btn-dark-green);
	}

	.wrap-sup {
		gap: 30px;
		padding: 0 6px;
	}

	.btn-pedidos:hover,
	.btn-ventas:hover,
	.btn-usuario:hover,
	.btn-portafolio:hover,
	.btn-mostrarmenos:hover {
		box-shadow: 2px 2px 6px 0px var(--bg-cards);
	}

	.btn-pedidos{
		margin-top: 56px;
	}
}

@media (width < 624px) {
	.nav-sup .logo {
		font-size: 16px;
	}
}
