@import url('../../index.css');

/* *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
} */

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(55, 219, 255, 75);
  width: 50vh;
  height: 100vh;
  
}

.Menu{
  display: flex;
  gap: 2em;
  text-align: center;
  background: white;
  width: 50vh;
  height: 100vh;
}

.icon-container {
  margin-right: 15px;
  background-color:  #8FE8FB;
  padding: 8px;
  border-radius: 10px;
  font-size: 1.5em;
}
.icon-container1{
  margin-right: 15px;
  padding: 8px;
  border-radius: 10px;
  font-size: 1.5em;
}

.form-panel{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5em;
}

.form-panel button {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.btn-mostrarmenos{
  border-radius: 25px;
  width: 350px;
height: 50px;
  border: none;
  padding: 1em;
  background: transparent;
  color: #6F6F6F;
  position: absolute;
  top: 10px;
  left: 0px; 
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: bold;
  }

.btn-panel{
border-radius: 25px;
width: 400px; 
height: 80px;
border: none;
padding: 1em;
margin-bottom: 2em;
background: transparent;
color: #F5F5F5;
margin-top: 80px;
margin-bottom: 5px;
font-size: 1.5em;
font-weight: bold;
margin-left: 50px;
}

.btn-pedidos, .btn-ventas, .btn-usuario, .btn-portafolio{
border-radius: 25px;
width: 400px; 
height: 80px;
border: none;
padding: 1em;
margin-bottom: 2em;
background: #37DBFF;
color: #F5F5F5;
margin-top: 2px;
font-size: 1.5em;
font-weight: bold;
}

.btn-cerrarsesion{
border-radius: 25px;
width: 400px; 
height: 80px;
border: none;
padding: 1em;
margin-bottom: 1em;
background:  #37DBFF;
color: #F5F5F5;
display: flex;
align-items: center;
font-size: 1.5em;
font-weight: bold;
margin-left: 35px;
position: absolute;
bottom: 0px;
margin-top: auto;
}

.admin-text {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 80px;
}


.btn-pedidos:hover,
.btn-ventas:hover,
.btn-usuario:hover,
.btn-portafolio:hover,
.btn-cerrarsesion:hover,
.btn-mostrarmenos:hover {
background-color:  #0C7676; 
color: #fff; 
}