@import url("../../index.css");

.user-container {
	height: 100%;
	width: 26%;
	background-color: var(--bg-cards);
	display: flex;
	flex-direction: column;
	padding: 18px 14px 36px 14px;
	justify-content: space-between;
	align-items: center;
	gap: 18px;
	position: fixed;
	right: 0;
	top: 0;
	/* transform: translateX(0); */
	transition: transform 0.5s ease-in-out;
}

.img-logo-user-settings {
	width: 184px;
	height: 184px;
}

.settings-user-hidden {
  transform: translateX(100%);
}

.settings-user-visible {
  transform: translateX(0%);
}

#long-text {
	color: var(--color-text);
	padding: 20px;
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
}

.u-container1 {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 8px 0;
	gap: 20px;
}

.wrap-btn {
	width: 94%;
	display: flex;
	justify-content: end;
}

.btn-back {
	width: 36px;
	height: 36px;
	/* font-size: 22px; */
	border: none;
	border-radius: 12px;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-back i {
	font-size: 38px;
	color: var(--color-text);
}

.btn-back i:hover {
	color: var(--mainColor);
}

.u-container2,
.u-container2-1,
.u-container2-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.u-container2 {
	margin-top: 22px;
	gap: 16px;
}

.u-container3 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-sett-item {
	font-weight: 600;
	color: var(--font-darkgray);
}

.text-highlighted {
	font-weight: 700;
	font-size: 18px;
	color: var(--font-darkgray);
}

.btn-edit-u-data {
	background-color: transparent;
	border: 2px solid var(--mainColor);
	color: var(--mainColor);
	border-radius: 8px;
	padding: 8px 24px;
	font-size: 16px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
	margin-top: 22px;
}

.btn-edit-u-data:hover {
	color: var(--lightTitles);
  background-color: var(--mainColor);
	border: 3px solid var(--mainColor);
}

.btn-cerrarsesion {
	width: 72%;
	cursor: pointer;
	border-radius: 16px;
	border: 3px solid var(--color-text);
	background: transparent;
	color: var(--color-text);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
	padding-left: 6px;
	padding: 6px 32px;
	margin-bottom: 14px;
	transition: all 0.3s ease;
}

.btn-cerrarsesion:hover {
	color: var(--lightTitles);
  background-color: var(--mainColor);
	border: 3px solid var(--mainColor);
}

.settings-user-hidden {
	display: none;
}

.container-btns-user-settings {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 24px;
	justify-content: center;
	align-items: center;
}

/* registrado */
.grid-user-settings-info {
	display: flex;
	justify-content: center;
	width: 100%;
}

.column-1-user-settings {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.column-1-user-settings p {
	font-weight: 600;
	color: var(--color-text);
}

.column-1-user-settings .label-text-user-setting {
	font-style: italic;
	color: var(--grayFonts);
}


@media (width < 1250px) {
	.btn-cerrarsesion {
		width: 84%;
		font-size: 16px;
		font-weight: bold;
		padding-left: 6px;
		padding: 6px 32px;
		margin-bottom: 14px;
	}

	.img-logo-user-settings {
		width: 134px;
		height: 134px;
	}

	.column-1-user-settings p {
		font-size: 14px;
	}

}

@media (width < 1080px) {
	.user-container {
		height: 100%;
		width: 44%;
		padding: 18px 14px 46px 14px;
	}
}

@media (width < 710px) {
	.user-container {
		height: 100%;
		width: 68%;
	}
}