@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Vairables css globales */
:root {
  --font-darkgray: #272727;
	--color-text: #494949;
  --grayFonts: #969696;
  --btn-hover-light-blue-cake: #8efbff;
  --mainColor: #37dbff;
  --btn-blue: #0D5D7D;
	--btn-blue-purple: #4c8bd4;
	--bg-dark: #03739b;
	--btn-dark-green: #0c7676;
  --backgroundNav: #37daff71;
  --bg-cards: #C1FFFF;
  --lightTitles: #ffffff;
  --extraLight-color: #ebebeb;
  --btn-home-hover: #dfdfdf67;
	--bg-cover: #3f3f3f56;
	--lightMainColor: #e3faff;
	--danger: #ff3131;
	--danger-dark : #703131;
	--bg-sideBar: rgb(20, 140, 161)
}

* {
  padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

/* .title {
  font-size: 38px;
  color: aqua;
} */

.subtitle-gray {
	color: var(--color-text);
	font-weight: 600;
	font-style: italic;
}

/* ! important */
/* * - Display flex - * */
.product-price,
.btn-product-plus, .container-btn {
	display: flex;
	align-items: center;
}

/* Btn portfolio */
.container-btn {
	width: 100%;
	justify-content: start;
	padding: 32px 0;
}

.container-btn .btn-portfolio {
	width: 166px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	color: var(--mainColor);
	border: 3px solid var(--mainColor);
	background-color: transparent;
	letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-btn .btn-portfolio .arrow {
	font-size: 24px;
}

.container-btn .btn-portfolio:hover, .container-btn .btn-portfolio:focus {
	cursor: pointer;
	background-color: var(--mainColor);
	color: var(--lightTitles);
}

.notice {
	color: var(--danger);
	font-size: 12px;
	margin-bottom: 4px;
}

.errors {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	color: var(--danger);
	font-size: 14px;
	margin: 4px 0;
	font-weight: 600;
}

.dash-btn-edit, .dash-btn-delete {
	width: 52px;
	height: 50px;
	cursor: pointer;
	color: var(--lightTitles);
	border-radius: 12px;
	border: none;
	transition: .3s ease all;
	/* padding: 8px; */
}

.dash-btn-delete {
	background-color: var(--mainColor);
}

.dash-btn-edit {
	background-color: var(--mainColor);
}

.dash-btn-delete:hover {
	box-shadow: 1px 2px 8px var(--grayFonts);
	background-color: var(--danger);
}

.dash-btn-edit:hover {
	background-color: var(--btn-blue);
	box-shadow: 1px 2px 8px var(--grayFonts)
}

.modal-alert-color {
	background-color: var(--danger);
}

.modal-info-color {
	background-color: var(--btn-hover-light-blue-cake);
}

.container-btn-alert-modal {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* SPACES */

.space-left {
	margin-left: 36px;
}

.title-space-left {
	margin-left: 84px;
}

.btn-alert-modal {
	width: 112px;
	background-color: none;
	border: 2px solid var(--danger);
	color: var(--danger);
	border-radius: 8px;
	padding: 6px;
	font-size: 14px;
	font-weight: 600;
	margin: 6px 0;
	cursor: pointer;
}

.btn-alert-modal:hover {
	background-color: var(--danger);
	color: var(--lightTitles);
}

/* inputs */
.inside-label-input {
	color: var(--grayFonts);
	font-size: 14px;
}

.input-int-form {
	width: 76px;
	height: 36px;
	text-align: center;
}

/* type date */
input[type="time"], .input-book-design {
	font-weight: 600;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  width: 200px;
}

input[type="date"] {
	font-weight: 600;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  width: 200px;
}

/* Fonts */
.font-description-type {
	font-size: 16px;
	font-weight: 500;
	color: var(--grayFonts);
}

/* advertise */
.message-prime-react {
	margin-top: 6px;
	padding: 4px 10px;
	gap: 6px;
}