@import url("../index.css");

.body-bookings {
	width: 100%;
	height: 100vh;
	display: flex;
	position: relative;
	/* margin-top: 100px; */
}

.banner-bookigs {
	/* position: absolute; */
	width: 40%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../assets/imgs/imagebooking.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.banner-bookigs div {
	margin-bottom: 200px;
	background-color: rgba(17, 17, 17, 0.774);
	padding: 36px 10px;
	border-radius: 12px;
	border: 3px solid rgb(19, 19, 19);
	color: var(--lightTitles);
}

.banner-bookigs div h4 {
	font-size: 22px;
	font-weight: 500;
}

.banner-bookigs div p {
	font-size: 18px;
}

.main-sect-booking {
	width: 54%;
	margin-top: 8%;
	margin-left: 46px;
	display: flex;
	flex-direction: column;
	gap: 42px;
}

.div-calendar-book {
	display: flex;
	gap: 32px;
  align-items: center;
}

.label-date-book {
	font-size: 20px;
	font-weight: 700 !important;
  margin-bottom: 16px;
}

.calendar-book {
	width: 322px;
	height: 38px;
}

.div-container-calendar {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-bookings {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.div-space {
	display: flex;
	gap: 6px;
}