@import url("../index.css");

.main-container {
	width: 100%;
	height: 100vh;
	display: flex;
	/* overflow: hidden; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

/* *Nav styles* */

.nav-sup {
	width: 82%;
	height: 68px;
	color: var(--lightTitles);
	/* display: grid;
	grid-template-columns: repeat(3, 1fr); */
	display: flex;
	align-items: center;
	padding: 8px 32px;
	background-color: var(--mainColor);
	position: fixed;
	right: 0;
}

.nav-sup .logo {
	margin: 6px;
	font-size: 22px;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 86%;
}
.nav-sup .icons {
	width: 50%;
	display: flex;
	justify-content: end;
	gap: 8px;
}

.nav-sup .icons .nav-item i {
	font-size: 32px;
	color: var(--lightTitles);
	padding: 6px;
	transition: background-color 0.3s ease;
}

.nav-sup .icons .nav-item .icon-person {
	font-size: 36px;
	padding: 4px;
}

.nav-sup .icons .nav-item i:hover {
	background-color: var(--btn-home-hover);
	border-radius: 12px;
}

/* nav & component */
.contanier-nav-component {
	width: 100%;
}


/* Nav lateral styles */

.dashContent {
	background-color: var(--mainColor);
	width: 18%;
	position: fixed;
	top: 0;
	bottom: 0;
}

.icon-container {
	margin-right: 14px;
	background-color: var(--btn-hover-light-blue-cake);
	padding: 6px 10px;
	border-radius: 10px;
	font-size: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
}
.icon-container1 {
	margin-right: 8px;
	padding: 2px 4px;
	border-radius: 10px;
	font-size: 28px;
	transition: background-color 0.3s ease;
}

.icon-container i {
	font-size: 26px;
}

.style-panel {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	gap: 12px;
	padding: 16px 10px;
}

.style-panel button {
	display: flex;
	align-items: center;
}

.wrap-sup {
	margin-top: 4px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.box-btn-home {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-space {
	margin-top: 24px;
}

.btn-mostrarmenos {
	cursor: pointer;
	border-radius: 14px;
	border: none;
	background: transparent;
	color: var(--extraLight-color);
	font-size: 18px;
	font-weight: bold;
	padding: 0px 10px;
	transition: background-color 0.3s ease;
}

.btn-lateral-dash {
	width: auto;
	padding: 6px 8px;
	border-radius: 16px;
	border: none;
	background: var(--mainColor);
	color: var(--lightTitles);
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.rol-text {
	color: var(--lightTitles);
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.user-dashboard {
	margin-bottom: 26px;
}

.rol-text-name {
	color: var(--lightTitles);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

.btn-lateral-dash:hover,
.btn-mostrarmenos:hover {
	background-color: var(--btn-dark-green);
	color: var(--lightTitles);
}

.div-specific-content {
	width: 82%;
	height: calc(100% - 82px);
	padding: 10px 4px;
	overflow-y: auto;
	position: fixed;
	right: 0;
	bottom: 0;
}

.dash-box-titles {
	width: auto;
	border-bottom: 2px solid var(--font-darkgray);
	padding: 0 0 4px 0;
	margin: 6px 32px;
}

/* * RESPONSIVE * */
@media (width < 1258px) {

	.style-panel {
		margin-top: 32px;
	}

	.title,
	.rol-text,
	.rol-text-name {
		display: none;
	}
}


@media (width < 1024px) {

	.style-panel{ 
		margin-top: 56px;
	}

	.top-space {
		margin-top: 44px;
	}

	.dashContent {
		width: fit-content;
	}
	.nav-sup {
		width: 100%;
	}

	.div-specific-content {
		width: 88%;
	}

	.btn-lateral-dash,
	.btn-mostrarmenos {
		width: 44px;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.btn-lateral-dash .btn-text {
		display: none;
	}

	.title,
	.rol-text,
	.rol-text-name {
		display: none;
	}

	.icon-container {
		margin-right: 0;
		margin: 0px;
	}

	.icon-container:hover {
		background-color: var(--btn-dark-green);
	}

	.wrap-sup {
		gap: 30px;
		padding: 0 6px;
	}

	.btn-pedidos:hover,
	.btn-ventas:hover,
	.btn-usuario:hover,
	.btn-lateral-dash:hover,
	.btn-portafolio:hover {
		box-shadow: 2px 2px 6px 0px var(--bg-cards);
	}

	.btn-pedidos{
		margin-top: 56px;
	}
}

@media (width < 624px) {
	.nav-sup .logo {
		font-size: 16px;
	}

	.div-specific-content {
		width: 84%;
	}

	.top-space {
		margin-top: 44px;
	}

}
