@import url("../../../index.css");

.container-orders-products {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.container-order-products {
	background-color: var(--lightMainColor);
	margin-right: 18px;
	border-radius: 8px;
	margin-bottom: 26px;
}

.order-products-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 18px 0 6%;
}

.card-product {
	flex: 1 1 calc(33.333% - 16px);
}

.order-products-body {
	display: flex;
	flex-wrap: wrap;
	padding: 8px 16px;
	gap: 8px;
	margin: 16px 0 0 0;
}

.box-info-client-order {
	text-align: end;
}

.font-title-description-order {
	font-size: 16px;
	font-weight: 600;
	color: var(--font-darkgray);
}

.font-text-description-order {
	font-size: 14px;
	font-weight: 500;
	color: var(--font-darkgray);
}

.box-form-orders {
	width: 100%;
	margin-top: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 26px 0 26px;
	gap: 12px;
}

.btn-static-with {
	width: 200px;
}

.text-custom-finish {
	font-size: 16px;
	font-weight: 600;
}

#text-order-description {
	display: flex;
	flex-direction: column;
}