@import url('../../../index.css');

.dash-card-img-product {
  width: 132px;
  height: 172px;
}

.span-description-card {
  text-align: end;
}

@media (width < 1024px) {
  .dash-card-img-product {
    width: 84px;
    height: 102px;
  }
}