@import url('../../index.css');

.span-title {
  color: var(--font-darkgray);
  font-size: 22px;
  font-weight: 700;
}

.ident-group {
  margin-bottom: 18px;
  width: 100%;
}

.btn-Ingresar {
  background: var(--btn-blue);
  color: var(--bg-cards);
  border-radius: 25px;
  font-weight: 500;
  border: none;
  padding: 8px 68px;
  margin-bottom: 1em;
  margin-top: 16px;
  font-size: 14px;
}

.btn-Registrarse {
  background: var(--btn-blue);
  color: var(--bg-cards);
  border-radius: 25px;
  font-weight: 500;
  border: none;
  font-size: 14px;
  padding: 8px 58px;
  text-align: center;
  margin-bottom: 2em;
}

.btn-Ingresar:hover, .btn-Registrarse:hover {
  background-color: var(--mainColor);
  color: var(--font-darkgray);
  font-weight: 800;
}

.btn-Olvido {
  background: transparent;
  color: var(--font-darkgray);
  font-weight: 600;
  border: none;
  padding: .5em;
}

.btn-Olvido:hover {
  color: var(--btn-blue);
}

.btn-Ingresar, .btn-Olvido, .link {
  cursor: pointer;
}

.input-group #eye-icon {
  cursor: pointer;
  border-radius: 14px;
}

.input-group #eye-icon:hover {
  background-color: var(--btn-hover-light-blue-cake);
}
