@import url('../../index.css');

.aside-component {
	position: absolute;
	z-index: 100000;
}

.welcome-menu {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/imgs/photoiceCream2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: start;
	padding: 20px 40% 14% 12%;
}

.active {
	background: var(--mainColor);
	transition: 0.5s;
}

.welcome-menu h3 {
	color: var(--lightTitles);
	font-weight: 600;
	font-size: 42px;
}

.welcome-menu p {
	color: var(--grayFonts);
	font-size: 22px;
}

/* NAV */
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	/* background-color: var(--backgroundNav); */
	color: var(--lightTitles);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	align-items: center;
	padding: 20px 32px;
}

.nav-navBar .sticky {
	padding: 6px 32px;
	background-color: var(--mainColor);
}

.nav-navBar .main-menu {
	display: flex;
	list-style: none;
}

.nav-navBar .main-menu li a {
	display: block;
	padding: 4px 16px;
	color: var(--lightTitles);
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	width: 100%;
	border-bottom: 2px solid transparent;
}

.nav-navBar .main-menu li a:hover {
	border-bottom: 2px solid var(--lightTitles);
}

.nav-navBar .open-menu,
.close-menu {
	font-size: 26px;
	margin: 20px;
	display: none;
	cursor: pointer;
	transition: all ease 0.3s;
}

.nav-navBar .logo {
	margin: 6px;
	font-size: 26px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-navBar .icons {
	display: flex;
	justify-content: end;
	gap: 22px;
}

.nav-btn-user {
	background: none;
	border: none;
}

.nav-navBar .icons .nav-btn-user i {
	font-size: 34px;
  color: var(--lightTitles);
  padding: 6px;
	cursor: pointer;
	transition: all ease 0.3s;
}

.nav-navBar .icons .nav-item i{
  font-size: 32px;
  color: var(--lightTitles);
  padding: 6px;
} 

.nav-navBar .icons .nav-item .icon-person {
  font-size: 36px;
  padding: 4px;
}

.nav-navBar .icons .nav-item i:hover, .nav-navBar .icons .nav-btn-user i:hover {
  background-color: var(--btn-home-hover);
  border-radius: 12px;
}

/* *--- RESPONSIVE ---* */
@media (width > 989px) {
	.selling-section .products-section {
		gap: 14px;
	}

	/* ! potencial error */
	.icon-nav-responsive {
		display: none;
	}
}

@media (width < 990px) {

	.welcome-menu h3 {
		font-size: 36px;
	}
	
	.welcome-menu p {
		font-size: 18px;
	}
	

	/* Cover - Sidebar*/
	#cover-sidebar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		display: none;
	}

	.nav-navBar {
		padding: 10px;
	}

	.nav-navBar .main-menu {
		height: 100%;
		width: 30%;
		position: fixed;
		padding: 12px;
		top: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		padding-top: 118px;
		gap: 24px;
		background-color: var(--bg-sideBar);
		transform: translateX(0);
		transition: transform 0.5s ease;
		display: none;
		align-items: start;
	}

	.nav-navBar .main-menu.hidden {
		transform: translateX(-100%);
	}

	.nav-navBar .main-menu .close-menu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.nav-navBar .open-menu {
		width: min-content;
		display: flex;
		align-items: center;
		background-color: transparent;
		border: none;
		border-radius: 10px;
		padding: 2px 2px;
		color: var(--lightTitles);
	}

	.nav-navBar .open-menu:hover {
		background-color: var(--btn-home-hover);
	}

	/* .nav-navBar .main-menu li {
		display: flex;
		align-items: center;
		padding: 6px 16px;
	} */

	.nav-navBar .main-menu li:hover {
		color: var(--grayFonts);
	}

	.nav-navBar .main-menu li a {
		display: flex;
		align-items: center;
		gap: 12px;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0.4px;
	}

	.nav-navBar .main-menu li:last-child {
		margin-bottom: 6px;
	}

	.nav-navBar .main-menu li a:hover {
		background: none;
		color: var(--grayFonts);
		border-color: transparent;
	}

	.nav-navBar .icons {
		display: flex;
		gap: 6px;
	}

	.selling-section .title-sect {
		display: grid;
		gap: 16px;
	}

	.selling-section .title-sect a {
		padding-right: 8px;
		justify-self: end;
	}

	.selling-section .products-section {
		display: grid;
		/* flex-direction: column; */
		align-items: center;
		justify-items: center;
		gap: 14px;
		padding: 0;
	}

	.selling-section .title-sect .title {
		text-align: center;
	}
}

@media (width < 790px) {

	.nav-navBar {
		padding: 8px 0px;
		margin: 0;
		grid-template-columns: 2fr 1fr 2fr;
	}

	.nav-navBar .logo {
		font-size: 16px;
		font-weight: 400;
	}

	.nav-navBar .main-menu {
		width: 50%;
	}

	.nav-navBar .icons {
		gap: 10px;
		padding-right: 8px;
	}

	.nav-navBar .icons a .icon-svg {
		width: 26px;
		height: 24px;
	}

	.selling-section {
		padding: 0 12px;
	}

	.title-sect {
		padding-top: 8px;
		margin: 12px 0 22px 0;
		display: grid;
		gap: 12px;
	}

	.title {
		font-size: 22px;
	}

	.selling-section .title-sect a {
		padding-right: 8px;
		justify-self: end;
	}

	.selling-section .products-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
}