@import url("../../index.css");

.car-container {
	height: 100%;
	width: 30%;
	background-color: var(--bg-cards);
	display: flex;
	flex-direction: column;
	padding: 18px 14px 36px 14px;
	justify-content: space-between;
	align-items: center;
	gap: 18px;
	position: fixed;
	right: 0;
	top: 0;
	/* transform: translateX(0); */
	transition: transform 0.5s ease-in-out;
}

.car-title {
	font-size: 26px;
	color: var(--color-text);
}

.wrap-subtitle {
	width: 100%;
	display: flex;
	justify-content: start;
	margin-bottom: 14px;
}

.car-subtitle {
	font-size: 22px;
	color: var(--color-text);
}

.add-container-heigh {
	height: 100%;
}

.u-container1-1 {
	width: 100%;
}

.btn-shopping-car {
	cursor: pointer;
	width: 90%;
	height: 46px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 8px;
	color: var(--lightTitles);
	border: 3px solid var(--mainColor);
	background-color: var(--mainColor);
	letter-spacing: 0.4px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	margin-bottom: 26px;
}

.btn-shopping-car:hover {
	color: var(--lightTitles);
	text-shadow: 0 0 10px var(--lightTitles), 0 0 20px var(--lightTitles),
		0 0 40px var(--lightTitles);
	background-color: var(--btn-blue);
	border: 3px solid var(--btn-blue);
}

.container-products-cart-price {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin: 10px 4px 36px 4px;
}

.container-products-cart-price p {
	font-weight: 700;
	color: var(--font-darkgray);
	font-size: 20px;
}

.container-prodcuts {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* ** DISEÑO PARA CADA PRODUCTO DEL CARRITO ** */

.small-card-cart {
	display: flex;
	/* width: 200px; */
	background-color: var(--lightTitles);
	border-radius: 10px;
	padding: 6px 2px 0 2px;
}

.total-product-order {
	font-weight: 600;
	color: var(--color-text);
}

.product-size-cart {
	font-size: 14px;
	font-weight: 600;
	color: var(--color-text);
}

.container-cart-order-info {
	width: 100%;
	padding-right: 16px;
}

.box-card-cart-img {
	display: flex;
	justify-content: center;
	height: 122px;
	align-items: center;
}

.box-card-cart-img img {
	width: 154px;
	height: auto;
}

.cart-sect-horiontal {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.cart-sect-horiontal p {
	font-size: 14px;
	font-weight: 600;
	color: var(--color-text);
}

.divider {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.amount-product {
	font-size: 16px;
	font-weight: 600;
	color: var(--font-darkgray);
}

.container-icons-product-cart {
	margin: 6px 0 2px 0;
	display: flex;
	align-items: center;
	gap: 8px;
}

/* MEDIA QUERYS */

@media (width < 1250px) {
	.car-container {
		width: 44%;
	}
}

@media (width < 820px) {
	.car-container {
		width: 78%;
	}
}
