@import url("../../index.css");

.car-container {
	height: 100%;
	/* width: 30%; */
	background-color: var(--bg-cards);
	display: flex;
	flex-direction: column;
	padding: 18px 0px 36px 22px;
	justify-content: space-between;
	align-items: center;
	gap: 18px;
	position: fixed;
	right: 0;
	top: 0;
	/* transform: translateX(0); */
	transition: transform 0.5s ease-in-out;
}

.car-title {
	font-size: 26px;
	color: var(--color-text);
}

.wrap-subtitle {
	width: 100%;
	display: flex;
	justify-content: start;
	margin-bottom: 14px;
}

.car-subtitle {
	font-size: 22px;
	color: var(--color-text);
}

.add-container-heigh {
	height: 100%;
	overflow: auto;
}

.u-container1-1 {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.btn-shopping-car {
	cursor: pointer;
	width: 90%;
	height: 46px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 8px;
	color: var(--lightTitles);
	border: 3px solid var(--mainColor);
	background-color: var(--mainColor);
	letter-spacing: 0.4px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	margin-bottom: 26px;
}

.btn-shopping-car:hover {
	color: var(--lightTitles);
	text-shadow: 0 0 10px var(--lightTitles), 0 0 20px var(--lightTitles),
		0 0 40px var(--lightTitles);
	background-color: var(--btn-blue);
	border: 3px solid var(--btn-blue);
}

.container-products-cart-price {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin: 10px 4px 36px 4px;
}

.container-products-cart-price p {
	font-weight: 700;
	color: var(--font-darkgray);
	font-size: 20px;
}

.container-products {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.add-to-cart-shop {
	width: 236px;
	height: 48px;
	gap: 4px;
	background-color: var(--mainColor);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 12px;
	color: var(--lightTitles);
	font-size: 22px;
	font-weight: 600;
	border: none;
	border-radius: 10px;
}

.add-to-cart-shop:hover {
	background-color: var(--btn-blue);
	text-shadow: 0 0 10px var(--lightTitles), 0 0 20px var(--lightTitles),
		0 0 40px var(--lightTitles);
	gap: 12px;
	transition: all ease-in 0.3s;
}

.container-notice-shop {
	width: 88%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 38px;
}

.container-notice-shop h4 {
	color: var(--font-darkgray);
	font-size: 18px;
}

.cont-separate {
	width: 98%;
	align-items: center;
	justify-content: center;
}

.cont-separate div {
	margin-right: auto;
}

.cont-separate button {
	margin-right: 14px;
}

.form-user-receptionist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ** DISEÑO PARA CADA PRODUCTO DEL CARRITO ** */

.small-card-cart {
	display: flex;
	/* width: 200px; */
	background-color: var(--lightTitles);
	border-radius: 10px;
	padding: 6px 2px 0 2px;
	margin-right: 12px;
}

.total-product-order {
	font-weight: 600;
	color: var(--color-text);
}

.product-size-cart {
	font-size: 14px;
	font-weight: 600;
	color: var(--color-text);
}

.container-cart-order-info {
	width: 100%;
	padding-right: 16px;
}

.box-card-cart-img {
	display: flex;
	justify-content: center;
	height: 122px;
	align-items: center;
}

.box-card-cart-img img {
	width: 154px;
	height: auto;
}

.cart-sect-horiontal {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.cart-sect-horiontal p {
	font-size: 14px;
	font-weight: 600;
	color: var(--color-text);
}

.divider {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.amount-product {
	font-size: 16px;
	font-weight: 600;
	color: var(--font-darkgray);
}

.container-icons-product-cart {
	margin: 6px 0 2px 0;
	display: flex;
	align-items: center;
	gap: 8px;
}

.box-payment-methods,
.box-payment-methods div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

/* modal prev form */
.body-modal-prevpay-form {
	margin: 8px 14px;
}

.box-subtitle-prevpay-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6px;
	margin-bottom: 12px;
}

.box-subtitle-prevpay-form .p1 {
	font-weight: 600;
	font-size: 16px;
}

.box-subtitle-prevpay-form .p2 {
	font-style: italic;
	font-size: 14px;
	font-weight: 500;
}

.box-text-terms-prev-form {
	width: 350px;
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin-bottom: 22px;
}

.box-text-terms-prev-form p {
	font-size: 14px;
	font-weight: 500;
	color: var(--color-text);
	text-align: center;
}

.box-text-terms-prev-form a {
	font-weight: 600;
	font-size: 16px;
	color: var(--btn-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.box-text-terms-prev-form a:hover {
	color: var(--mainColor);
}

/* Checkbox design */
.container-checkbox {
  cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.container-checkbox p {
	font-size: 16px;
	font-weight: 600;
	color: var(--btn-blue);
}

.container-checkbox input {
  display: none;
}

.container-checkbox svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: var(--btn-blue);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container-checkbox input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
	stroke: var(--mainColor);
}
/* End checkbox design */

/* MEDIA QUERYS */

@media (width < 1250px) {
	.car-container {
		width: 58%;
	}
}

@media (width < 860px) {
	.car-container {
		width: 78%;
	}
}

@media (width < 646px) {
	.car-container {
		width: 100%;
	}
}
